<form class="filters" [formGroup]="contactForm">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input
      matInput
      placeholder="Enter first name"
      formControlName="firstName"
     
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      placeholder="Enter last name"
      formControlName="lastName"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      placeholder="Enter phone number"
      formControlName="phone"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
